<h1>Configuración de la cuenta</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3 mx-4 mb-4">
            <p>Cambiar foto de perfil</p>
        </div>
        <div class="col-md-3 mx-4 mb-4">
            <p>Cambiar nombre</p>
        </div>
        <div class="col-md-3 mx-4 mb-4">
            <p>Cambiar contraseña</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 mx-4 mb-4">
            <p>N/a</p>
        </div>
        <div class="col-md-3 mx-4 mb-4">
            <p>Cambiar sector</p>
        </div>
        <div class="col-md-3 mx-4 mb-4">
            <p>Información de la cuenta</p>
        </div>
    </div>
</div>
<app-footer></app-footer>