@if ( openScanner === true) {
<div id="modal-overlay"></div>

<div class="scanner">
    <app-barcode-scanner (scanCompleted)="openCheckWindows()" (barcodeCheck)="insertNewDataOptions()"
        [scannerAction]="scannerAction"></app-barcode-scanner>
    <p class="close" (click)="closeModalScanner()">Cerrar</p>
</div>
} @else if (isModalScanned === true) {
<div id="checkCont">
    <dotlottie-player src="https://lottie.host/d13abdc7-99bc-46b0-bcd0-bb883cc52603/u2ei4KJ6qs.lottie"
        background="transparent" speed="1" style="width: 200px; height: 200px; margin: 0 auto;"
        autoplay></dotlottie-player>
</div>
} @else if(insertDataOptions === true) {
    @if (selectWareHouse === true) {
        <div class="scanner">
            <div class="selectWareHouse">
                <h1>Producto no encontrado</h1>
                <p id="selectWarehouseP">
                    No tienes este producto registrado en ninguno de tus almacenes, selecciona un almacen para escanear el producto 
                    y añadirlo de forma automatica al almacen seleccionado
                </p>
                <h3>Selecciona el almacén</h3>
                <select #warehouseSelect class="custom-select">
                    <option disabled selected>Mis almacenes</option>
                    @for(warehouse of warehouses; track $index) {
                        <option value="{{warehouse.id}}">{{warehouse.name}}</option>
                    }
                </select>
                <p class="close" (click)="selectWarehouse(warehouseSelect.value)">Seleccionar</p>
                <p class="closeSelectWarehouse" (click)="closeModalOptions()">Cerrar</p>
            </div>
        </div>
    }@else {
    <div class="scanner">
        <div class="insertDataOptions">
            <h2>Información del Producto</h2>
            <div class="printCont">
                <p><strong>Nombre</strong> {{ name || 'N/A' }}</p>
            </div>
            <div class="printCont">
                <p><strong>Marca</strong> {{ brand || 'N/A' }}</p>
            </div>
            <div class="printCont">
                <p><strong>Precio de Compra</strong> {{ purchasePrice || 'N/A' }}</p>
            </div>
            <div class="printCont">
                <p><strong>Fecha de Caducidad</strong> {{ expirationDate || 'N/A' }}</p>
            </div>
            <p class="close" (click)="addApiProduct()">Rellenar datos faltantes</p>
            <p class="close" (click)="closeModalOptions()">Cerrar</p>
        </div>
    </div>
    }
} @else if(visibleFormData === true) {
        <div class="scanner">
            <div class="insertDataOptions">
                 <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">

                    <div class="form-group mb-3">
                    <label for="soldPrice">Precio de venta</label>
                    <input id="soldPrice" formControlName="soldPrice" type="number" class="form-control" />
                    </div>

                    <div class="form-group mb-3">
                    <label for="purchasePrice">Precio de compra</label>
                    <input id="purchasePrice" formControlName="purchasePrice" type="number" class="form-control" />
                    </div>

                    <div class="form-group mb-3">
                    <label for="expirationDate">Feha de caducidad</label>
                    <input id="expirationDate" formControlName="expirationDate" type="date" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-success" (click)="callInsertDataFunction()">Enviar</button>
            </form>
                <p class="close" (click)="closeModalOptions()">Cerrar</p>
            </div>
    </div>
}