@if ( openScanner === true) {
    <div id="modal-overlay"></div>

    <div id="scanner">
        <app-barcode-scanner 
            (scanCompleted)="openCheckWindows()" 
            (productNotFound)="handleProductNotFound()"
            [scannerAction]="scannerAction">
        </app-barcode-scanner>
        <p id="close" (click)="closeModalScanner()">Cerrar</p>
    </div>
} @else if (isModalScanned === true) {
    <div id="checkCont">
        <dotlottie-player
            src="https://lottie.host/d13abdc7-99bc-46b0-bcd0-bb883cc52603/u2ei4KJ6qs.lottie"
            background="transparent"
            speed="1"
            style="width: 200px; height: 200px; margin: 0 auto;"
            autoplay
          ></dotlottie-player>
    </div>
} @else if(noProductInBBDD === true) {
    <div id="checkCont">
        <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player 
        src="https://lottie.host/8cca6480-9747-4281-ac72-db9ab6793042/0xL04uW1Yk.lottie" 
        background="transparent" 
        speed="0.5" 
        style="width: 200px; height: 200px; margin: 0 auto;"
        autoplay
        >
    </dotlottie-player>
        <p class="noProductText">Producto no encontrado en la base de datos</p>
    </div>
}

<!-- Form Data Modal -->
@if (currentModalState === 'formData') {
<div class="scanner">
    <div class="insertDataOptions">
        <h4>Datos faltantes del producto</h4>
        <p>Añade los siguientes datos del producto para poder insertarlos a la base de datos</p>
        <form [formGroup]="productForm" class="product-form">
            <div class="form-group mb-3">
                <label for="soldPrice">Precio de venta</label>
                <input id="soldPrice" formControlName="soldPrice" type="number" class="form-control" />
                @if (productForm.get('soldPrice')?.errors?.['required'] && productForm.get('soldPrice')?.touched) {
                    <div class="invalid-feedback">
                        El precio de venta es requerido
                    </div>
                }
            </div>

            <div class="form-group mb-3">
                <label for="purchasePrice">Precio de compra</label>
                <input id="purchasePrice" formControlName="purchasePrice" type="number" class="form-control" />
                @if (productForm.get('purchasePrice')?.errors?.['required'] && productForm.get('purchasePrice')?.touched) {
                    <div class="invalid-feedback">
                        El precio de compra es requerido
                    </div>
                }
            </div>

            <div class="form-group mb-3">
                <label for="expirationDate">Fecha de caducidad</label>
                <input id="expirationDate" formControlName="expirationDate" type="date" class="form-control" />
                @if (productForm.get('expirationDate')?.errors?.['required'] && productForm.get('expirationDate')?.touched) {
                    <div class="invalid-feedback">
                        La fecha de caducidad es requerida
                    </div>
                }
            </div>

            <button type="button" class="btn btn-success" (click)="addProduct()" [disabled]="!productForm.valid">
                Subir producto
            </button>
        </form>
        <p class="close" (click)="closeModalScanner()">Cerrar</p>
    </div>
</div>
}