footer {
    width: 100%;
    height: auto;
    background-color:#212529
}

#instagram {
    width: 50px;
    margin-right: 50px;
    transition: all 0.3s ease-in-out; 
}

#facebook {
    width: 40px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out; 
}

#x {
    width: 110px;
    transition: all 0.3s ease-in-out; 
}

#instagram:hover {
    transform: scale(1.1); 
}

#facebook:hover {
    transform: scale(1.1); 
}

#x:hover {
    transform: scale(1.1); 
}

#logo {
    margin-left: 200px;
    width: 200px;
    margin-top: 10px;
}

p {
    color: white;
}