table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}

table tbody tr:nth-child(even) {
	background: #d8d7d6;
}